*{
    font-family: sans-serif;
    font-family: 'Changa', sans-serif;
}

/* nav bar */
nav {
  background-image:url(../img/تصميم\ بدون\ عنوان\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 100% 500px;
    /* background-color:#9bced1; */
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: auto;
    padding: 1.2%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  height: 500px;
  
  }
  nav img{
    position: relative;
    top: -45px;
  }
  nav a {
    position: relative;
    top: 2px;;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #000000;
    /*التأثير*/
    font-family: 'Changa', sans-serif;
    transition: 0.3;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    padding: 0 10px;
  }
  
  .b1::before {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    width: 0%;
    /* لون التأثير */
    background-color: rgb(0, 0, 0);
    bottom: -7px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
  
  }
  a:hover::before {
    width: 100%;
  }
  .logo{
    position: relative;
    top: -15px;
    left: -20px;
  }

/* النص اللي فوق القسم */
  .h11{
    text-align: center;
    position: relative;
    top: 100px;
    color: #ffffff;
  }
.h12{
    text-align: center;
    position: relative;
    top: 100px;
    color: #000000;
}
/* section1 */
#section1 img{
  position: relative;
  /* top: 50px; */
}
  /* section2 */
  #section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9%;
   background-color: #9bced1;
   height: 500px;
  }

  .divs{
    text-align: center;
    border-radius: 30px;
    background-color:rgb(243, 243, 243);
    /* box-shadow: 33px 0px 0px 0px #9bced1; */
    height: 300px;
    width: 300px;
  }

  .divs img{
  position: relative;
  /* right:120px; */
  top: 10px;
  border-radius: 15px;
  }

  .divs button{
    border: none;
    border-radius: 20px;
    background-color: #9bced1;
    width: 90px;
    height: 30px;
    text-align: center;
    color: #ffffff;
  }

  .divs:hover{
    scale: 1.05;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    transition-duration: 300ms;
    transition-property: all 
  }

  /* section3 */
  #section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8%;
  }
  #section3 a{
    text-decoration: none;
    color: rgb(0, 0, 0);

  }
  .divs2 {
    border-radius: 10px;
    background-color:rgb(243, 243, 243);
    /* box-shadow: 33px 0px 0px 0px #9bced1; */
    height: 400px;
    width: 300px;
  }
  
  .divs2 img{
    position: relative;
    right:41px;
    top: 10px;
    border-radius: 15px;
    }

    
  .divs2:hover{
    scale: 1.05;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    transition-duration: 300ms;
    transition-property: all 
  }
  /* section4and */
  #section4{
    background-color: #9bced1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19%;
  }
  #section4 img{
    width: 200px;
    height: 200px;
    margin: 40px;
  }

  /* footer */
  footer hr{
    position: relative;
    top: 90px;
  }
